<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">plant-simulator</a>

    <!-- Show this for logged out users -->
    <ul *ngIf='isLoggedIn() == false'
        class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link"
          routerLink="/register"
          routerLinkActive="active">
          Sign Up
        </a>
      </li>
    </ul>

    <!-- Show this for logged in users -->
    <ul *ngIf='isLoggedIn() == true'
        class="nav navbar-nav pull-xs-right">
      <li class="nav-item nav-link">
        <!-- TODO: Link the logged in use to his full profile -->
        <!-- a class="nav-link"
          [routerLink]="['/profile', currentUser.id]"
          routerLinkActive="active">
          {{ currentUser.firstname }}
        </a -->
        <a href='javascript:void(0);'>{{ currentUser.username }}</a>
      </li>
      <li class="nav-item">
        <!--a class="nav-link"
           [routerLink]="['/login']">
           Logout
        </a -->
        <a class="nav-link"
           routerLink="/login"
           routerLinkActive="active">
          Logout
        </a>
      </li>
    </ul>

  </div>
</nav>
