<div class="home-page">
  <div class="container page">
    <div class="row">
      <!-- div class="col-md-6 col-md-offset-2">
        <h1>Hi {{currentUser.firstName}}!</h1>
        <p>You're logged in with Angular 2!!</p>
        <h3>All registered users:</h3>
        <ul>
          <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user.id)">Delete</a>
          </li>
        </ul>
      </div -->

      <div class="col-md-6 col-md-offset-2 ui grid posts">
        listing all PowerPlants
        <app-powerplant
          *ngFor="let powerPlant of powerPlants"
          [powerPlant]="powerPlant">
        </app-powerplant>
      </div >

      <!-- div class="col-md-6 col-md-offset-2 ui grid posts">
        listing all PowerPlants
        <virtual-scroll [powerPlants]="powerPlants" (update)="viewPortItems = $event">
          <app-powerplant
            *ngFor="let powerPlant of viewPortItems"
            [powerPlant]="powerPlant">
          </app-powerplant>
        </virtual-scroll>
      </div -->
    </div>
  </div>
</div>
