<div class="home-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-9 col-xs-8">
        <h2>Search...</h2>
        <form class="row" name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
          <div class="form-group col-xs-3" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="powerPlantName">PowerPlant Name</label>
            <input type="text" class="form-control-small" name="powerPlantName" [(ngModel)]="model.powerPlantName" #powerPlantName="ngModel" />
          </div>
          <div class="form-group col-xs-3" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="powerPlantType">PowerPlant Type</label>
            <input type="text" class="form-control-small" name="powerPlantType" [(ngModel)]="model.lastName" #lastName="ngModel" />
          </div>
          <div class="form-group col-xs-3" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="organizationName">Organization Name</label>
            <input type="text" class="form-control-small" name="organizationName" [(ngModel)]="model.username" #username="ngModel" />
          </div>
          <div class="form-group col-xs-3" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="powerPlantStatus">PowerPlant Active Status</label>
            <input type="password" class="form-control-small" name="powerPlantStatus" [(ngModel)]="model.password" #password="ngModel" />
          </div>
          <div class="form-group col-md-3">
            <button [disabled]="loading" class="btn btn-primary">Search</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
